In [1]:
# Q1

(80+75+55)/3

70.0

In [3]:
# Q2

if 13 % 2 == 0 :
    print ("짝수")
else :
    print ("홀수")

홀수

In [4]:
# Q3

JMBH = '881120-1068234'

YYYYMMDD = JMBH[:6]

rest = JMBH[7:]

print(YYYYMMDD)
print(rest)

881120
1068234

In [6]:
# Q4

JMBH = '881120-1068234'

gender = JMBH[7]

print(gender)

1

In [11]:
# Q5

a = "a:b:c:d"

a.replace(':', '#')

'a#b#c#d'

In [33]:
# Q6

list = [1, 3, 5, 4 ,2]

list.sort()     # sort 기억하쟈
list.reverse()

list

[5, 4, 3, 2, 1]

In [35]:
# Q7

a = ['life', 'is', 'too', 'short']

ans = " ".join(a)       # 사용방법 잘 알아두자~~

print(ans)

life is too short

In [22]:
# Q8

(1, 2, 3) + (4,)

(1, 2, 3, 4)

In [24]:
# Q9

a = dict()

# 답은 3번 a[[1]]

# 나머지는 immutable한데, 3번만 바꿀 수 있는 값
# 1. 'name' 이라는 스트링
# 2. 튜플
# 3. 리스트 -> 바꿀 수 있기 때문에 Key로 적절하지 않다.
# 4. 숫자 (int)

In [26]:
# Q10

a = {'A':90, 'B':80, 'C':70}

a.pop('B')

80

In [37]:
# Q11
del list        # 앞전에 list란 이름의 변수가 있어서 리스트 본연의 뜻으로 쓸 수가 없음 그래서 지워주는거

a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]

b = set(a)

c = list(b)

print(c)

[1, 2, 3, 4, 5]

In [32]:
# Q12

# B의 두 번째 요소도 같이 변경됨. 왜냐하면 지시하는 값의 코드가 동일하기 때문